:root {
  --header-height: 80px;

  --primary: #e67e22;
  --primary-tint-1: #fdf2e9;
  --primary-tint-2: #fae5d3;
  --primary-tint-3: #eb984e;
  --primary-shade-1: #cf711f;
  --primary-shade-2: #45260a;

  --grey-lightest: #f9fafa;
  --grey-lighter: #e0e1e1;
  --grey-light: #aeafaf;

  --grey: #7d7d7d;

  --grey-dark: #646464;
  --grey-darker: #323232;
  --grey-darkest: #030303;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
  width: 100%;
  background-color: var(--white);
  height: var(--header-height);
}

.columns {
  display: flex;
  justify-content: center;
}

nav {
  flex: 0 1 min-content;
}

aside {
  flex: 0 1 400px;
}

nav,
aside,
main {
  padding: 0 1rem 0 1rem;
  background-color: var(--white);
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}

main {
  flex: 0 1 400px;
  background-color: var(--white);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}

@media (max-width: 900px) {
  .columns {
    flex-direction: column;
    height: 100%;
  }
  main {
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    flex-grow: 0;
    height: 100%;
  }
  nav,
  aside {
    max-width: 100%;
    flex-grow: 0;
  }
  nav h2,
  aside h2 {
    text-align: center;
  }
}
