:root {
  --white: #fff;
  --gray: #ccc;
  --header-height: 80px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
  width: 100%;
  background-color: var(--white);
  height: var(--header-height);
}

.columns {
  display: flex;
  justify-content: center;
}

nav {
  flex: 0 1 min-content;
}

aside {
  flex: 0 1 400px;
}

nav,
aside,
main {
  padding: 0 1rem 0 1rem;
  background-color: var(--white);
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}

main {
  flex: 0 1 400px;
  background-color: var(--white);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}

@media (max-width: 900px) {
  .columns {
    flex-direction: column;
    height: 100%;
  }
  main {
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    flex-grow: 0;
    height: 100%;
  }
  nav,
  aside {
    max-width: 100%;
    flex-grow: 0;
  }
  nav h2,
  aside h2 {
    text-align: center;
  }
}
